.container_Breeds {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-left: 350px;
    overflow: hidden;
    
}
.loading_img {
    margin: 100px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    opacity: 0.5;
  }
.buttons_paginated{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    margin-left: 350px;
    margin-bottom: 20px;
    height: 40px;
}
.buttons_paginated button{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 10px;
}
.selected_page{
    background-color: rgba(107, 107, 200, 0.883);
    color: #fff;
    border: 3px solid black;
}
